<!DOCTYPE html>
  <html lang="en">
  <title>{% block title %}Virtual Picnic{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <head>
    <style>
    </style>
  </head>
  <body>
    <!--Put body code here; head code goes in between style brackets above.-->
    Filler text, remove me when you make the header.
    {% block content %}
    <!--Do not type anything here. Make sure not to delete the stuff in curly brackets. -->
    {% endblock %}
  </body>
</html>