{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">
{% endblock %}
{% block content %}
    <!--<a href="{{ url_for('register_user') }}">Login</a>-->
    <form action='/register-user' method='post'>
      <label>Email Address</label>
      <input name ="email-address" type="email" required>
      <label>Phone Number</label>
      <input name ="phone-number" type="text" required>
      <label>Password</label>
      <input name ="password" type="password" required>
      <input type="submit" />
    </div>
{% endblock %}